# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
.gitattributes
.vs/LearningOpenGL/v16/.suo
*.db
.vs/LearningOpenGL/v16/Preview/ipch/AutoPCH/ee06f4d0579d7d00/LEARNINGOPENGL.ipch
/.vs/LearningOpenGL/v16/Preview
/Debug
/.gitignore
